body {
background: rgb(82, 8, 121);
    background: linear-gradient(90deg, rgba(82, 8, 121, 1) 0%, rgba(153, 54, 214, 1) 34%, rgba(145, 114, 203, 1) 72%, rgba(213, 149, 250, 1) 100%);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#colums {
    -moz-column-count: 4;
        -moz-column-gap: 7px;
        -webkit-column-count: 3;
        -webkit-column-gap: 7px;
        column-count: 3;
        column-gap: 7px;
        outline: 8px solid rgb(175, 11, 197);
        background: linear-gradient(90deg, rgba(213, 149, 250, 1) 0%, rgba(145, 114, 203, 1) 31%, rgba(153, 54, 214, 1) 69%, rgba(82, 8, 121, 1) 100%);
}

.card {
    -webkit-box-shadow: 4px 4px 4px 4px #1e01c4;
        box-shadow: 4px 4px 4px 4px #1e01c4;
        background: rgb(240, 228, 255);
        padding: 10px;
        min-height: 500px;
        width: 30%;
        margin: 20px 1%;
        float: left;
        font-family: fantasy;
        line-height: 1.5;
        text-shadow: 5px 6px 8px #AA69FF;
        -webkit-border-radius: 3px 3px 3px 3px;
            border-radius: 3px 3px 3px 3px;
}
        
.card img {
        display: block;
        width: 80%;
        margin: 10px auto;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 8px 5px 8px 5px;
            border-radius: 8px 5px 8px 5px;
}