body {
    background: rgb(25, 1, 40);
    color: ivory;
    font-size: large;
    line-height: 1.5;
}

.container {
    width: 80%;
    margin: 20px auto;
}

ul {
    list-style-type: "\2665";
    /* Unicode for heart */
}

ul ul {
    list-style-type: "\26A0";
}

dt {
    color: rgb(56, 135, 220);
}