<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
  </head>
  <body>
    <header class="container">
      <nav>
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </nav>
    </header>
    <main class="container">
      <h1>Site name</h1>
      <img src="images/1.JPG" alt="espadas" />
      <img src="images/2.JPG" alt="control" />
    </main>
    <footer class="container">
      <p>&copy; 2023 Maria Martinez</p>
    </footer>
  </body>
</html>
